# ============================================
# Gateway GraphQL
# ============================================
GATEWAY_PORT=8001
GATEWAY_HOST=localhost
NODE_ENV=development

# ============================================
# Auth microservice (used by Gateway to call auth)
# ============================================
MS_AUTH_PORT=5001
