@import "tailwindcss";
@import "./theme.css";
@import "react-toastify/dist/ReactToastify.css";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

:root {
  --background: #fffefe;
  --foreground: #080808;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffefe;
    --foreground: #080808;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.3;
}
